.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal {
    position: fixed;
    box-shadow: 0 0 7pt rgba(0, 0, 0, 0.3);
    background: #fff;
    font-family: sans-serif;
    font-size: 1em;
    color: #333;
    z-index: 2;
}

    .modal-title-bar {
        display: flex;
        align-items: center;
        padding: 4pt 0;
        border-bottom: 1px solid #EFEFEF;
        background-color: rgba(245, 245, 245, 0.65);
    }

        p.modal-title {
            flex-grow: 1;
            padding: 3pt 10pt;
            margin: 0;
            font-weight: bold;
            letter-spacing: -0.5pt;
        }

        .modal-close {
            width: 100%;
            text-align: right;
        }

            .modal-close:hover .modal-close-text, .modal-close:hover .modal-close-button {
                color: #000;
            }

            .modal-close-text, .modal-close-button {
                display: inline-block;
                cursor: pointer;
                color: #aaa;
            }

            .modal-close-text {
                padding: 0 10pt;
                text-transform: uppercase;
                font-size: 10pt;
                letter-spacing: 1pt;
            }

            .modal-close-button {
                border: none;
                background: none;
                padding: 0 10pt;
                font-size: 16pt;
                vertical-align: middle;
            }

            /* Reduce space between close text & button when both displayed */
            .modal-close-text + .modal-close-button {
                margin-left: -15pt;
            }

        /* Only close items - grow container and move items to right */
        .modal-title + .modal-close {
            width: auto;
            text-align: right;
        }

    .modal-content {
        padding: 10pt;
    }

        .modal-field {
            display: block;
        }

            .modal-field label {
                display: block;
                padding: 0 0 4pt 0;
            }

            .modal-field input[type="text"] {
                box-sizing: border-box;
                outline: none;
                border: 1px solid #D5D5D5;
                padding: 4pt 5pt;
                font-size: 1em;
                color: #333;
            }

    .modal-buttons {
        padding: 10pt;
        text-align: right;
        border-top: 1px solid #EFEFEF;
        background-color: rgba(245, 245, 245, 0.65);
    }

        .modal-button {
            border: none;
            margin: 0 5pt 0 0;
            padding: 4pt 10pt;
            cursor: pointer;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
            text-transform: uppercase;
        }

            .modal-button:last-child {
                margin: 0;
            }

        .modal-button-cancel {
            color: #5A5A5A;
            background-color: rgb(228, 228, 228);
            text-shadow: none;
        }

            .modal-button-cancel:hover {
                color: #E4E4E4;
                background-color: rgb(128, 128, 128);
            }

        .modal-button-no {
            color: #fff;
            background-color: rgb(237, 98, 98);
        }

            .modal-button-no:hover {
                background-color: rgb(208, 38, 38);
            }

        .modal-button-yes {
            color: #fff;
            background-color: rgb(120, 190, 96);
        }

            .modal-button-yes:hover {
                background-color: rgb(57, 152, 24);
            }

        .modal-button-submit {
            color: #fff;
            background-color: rgb(86, 191, 255);
        }

            .modal-button-submit:hover {
                background-color: rgb(38, 130, 186);
            }

        .modal-button-ok, .modal-button-default {
            color: #fff;
            background-color: rgb(86, 191, 255);
        }

            .modal-button-ok:hover, .modal-button-default:hover {
                background-color: rgb(38, 130, 186);
            }